.userResult .before_result {
    margin-top: 30px;
    font-size: 20px;
    display: block;
    text-align: center;
}
.userResult .finalResult {
    font-size: 40px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.userResult .finalResult span {
    color: #08d9d6;
}
.top-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-table .table-name {
    align-self: center;
}
.top-table .tabel-head {
    display: flex;
    background-color: #08d9d6;
    justify-content: space-around;
    margin-bottom: 3px;
}
.top-table .row {
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    color: #FFF;
    border: 1px black solid;
}